.dart_tool/
.packages
.pub/
build/
flutter_*.log
.idea/
.vscode/
*.iml
.env
*.keystore
*.jks
google-services.json
GoogleService-Info.plist
**/android/key.properties
**/android/local.properties

# CI analyzer artifacts
analyze.txt
analyze-comment.md
